DEBUG = False

api_base_url = 'YNH_APP_API_BASE_URL'
mastodon_user = 'YNH_APP_MASTODON_USER',
mastodon_password = 'YNH_APP_MASTODON_PASSWORD',

SECRET_KEY = 'YNH_APP_SECRET_KEY'

ALLOWED_HOSTS = ['localhost', 'YNH_APP_ARG_DOMAIN']

STATIC_ROOT = 'YNH_APP_STATIC_ROOT'

ADMINS = [('YNH_APP_ARG_ADMIN', 'YNH_APP_ARG_EMAIL')]
