
.message.success:before {
    content: "✔ ";
}

.message.error:before {
    content: "✘ ";
}

a .invisible {
    display: none;
}

a .ellipsis:after {
    content: "…"
}

.top-space {
    margin-top: 40px;
}

.small-top-space {
    margin-top: 20px;
}

.neg-tiny-top-space {
    margin-top: -10px;
}
