
.message.success:before {
    content: "✔ ";
}

.message.error:before {
    content: "✘ ";
}

a .invisible {
    display: none;
}

a .ellipsis:after {
    content: "…"
}

.top-space {
    margin-top: 40px;
}

.small-top-space {
    margin-top: 20px;
}

.neg-tiny-top-space {
    margin-top: -10px;
}
.description {
    font-style: italic;
}

.card {
    width: 400px;
    margin: 2rem;
}
.cards {
    justify-content: left;
}
.card-img-top {
    overflow:hidden;
    height: 14rem;
}
img {
    width: 400px;
    clip-path: content-box;
}
