{% load staticfiles %}

<!doctype html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<title>L'oreille à gauche</title>
	<meta charset="utf-8" />
    </head>
    <body>
	<script src="{% static 'base/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'base/bootstrap.bundle.js' %}"></script>

	<div class="container">
	    <div class="row justify-content-center">
		<h1>L'oreille à gauche</h1>
	    </div>
	    <div class="row justify-content-center">
		{% for message in messages %}
		<span class="m-1 badge {{ message.tags }} message">{{ message }}</span>
		{% endfor %}
	    </div>

	    <div class="row small-top-space">
		Une liste collaborative d'émissions. Féminisme, écologie, classes sociales, nouveaux points de vue, histoires touchantes, clés pour comprendre le monde, autogestion, aventures collectives et émancipatrices, récits d'ici et d'ailleurs, de maintenant, châteignes et sureau, ...
	    </div>
	    <div class="row small-top-space">
		<h5>Conseils de publication :</h5>
	    </div>
	    <div class="row">
		<ul>
		    <li>d'abord un lien</li>
		    <li>éventuellement le sujet de l'émission</li>
		    <li>éventuellement un petit commentaire</li>
		    <li>éventuellement un pseudo</li>
		</ul>
	    </div>
	<div class="row small-top-space">
		<h2>Poster une émission</h2>
	    </div>
	    <div class="row">
		<form action="." method="POST">{% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit" class="btn btn-info">Publier</button>
		</form>
	    </div>

	    <div class="row top-space">
		<h2>Les 20 dernières émissions postées</h2>
	    </div>
	    <div class="row">
		L'intégrale des émissions proposée est disponible ici :&nbsp;
		<a href="https://toot.aquilenet.fr/@oreille_gauche">https://toot.aquilenet.fr/@oreille_gauche</a>
	    </div>
	    <div class="row">
		{% for toot in toot_list %}
		<div class="card" style="width: 32rem; margin: 1rem">
		    <div class="card-body">
			<p class="card-text" >
			    {{ toot | safe}}
			</p>
		    </div>
		</div>
		{% endfor %}
	    </div>
	    <!-- <div class="row">
		 <table class="table">
		 {% for toot in toot_list %}
		 <tr> <td>{{ toot | safe }}</td> </tr>
		 {% endfor %}
		 </table>
		 </div> -->
	</div>
	<script>
	 $("span.message").delay(6000).fadeOut();
	</script>
    </body>
</html>
